/* all section */

*{
   font-family: 'Lato' , sans-serif;
   font-family: 'Open Sans', sans-serif;
   margin: 0;
}

.btn-primary {
   background-color: #E55473;
   border-radius: 5px;
   border: 0;
   color: #fff;
   font-size: 20px;
   font-weight: 500;
   padding: 10px 30px;

}

.section-title{
   color: #272727;
   text-align: center;
   font-size: 3.4em;
   font-weight: 700;
   
}

.section-description{
   color: #585858;
   text-align: center;
   font-size: 18px;
   padding-top: 32px;
}


/* nav style */
nav{
   background-color:  #f0e2e2 ;
   border: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;

 }

 .nav-title{ 
   color: #E55473 ;
   font-size: 45px;
   font-weight: 800;
 }

 .nav > ul{
   display: flex;
   align-items: center;
 }
 nav li{
   list-style: none;
   margin-right: 50px;
 }

nav a{
   text-decoration: none;
   color: #272727;
}

/* Header */

.header{
   background-color: #FCEEF1 ;
}

.banner{
   /* margin: 30px 200px 3px 150px ; */
   padding: 30px 150px 3px 150px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.banner-content{
   max-width: 600px;
}
.banner .tulip{ 
   width: 635px;
   height: 800px;
}

.banner-title{
   color: #272727;
   font-size: 80px;
   font-weight: 700;
   margin-bottom: 32px;
}

.banner-description{
   color: #585858;
   font-size: 18px;
   margin-bottom: 32px;
}

.banner .banner-description{
   display: inline-block;
}


/* about section */

.about{
   padding: 1.2% 0;
   text-align: center;   
   margin: 150px 0;  

}



/* main section */

main{
   width: 1140px;
   margin: 0 auto ;
}


.flower-one{
   background-color: #F2DEE7;
   width: 464px;
   height: 428px;
   margin-right: 20px;
   /* border-radius: 50% 50% 0 0; */
   border-radius: 50% 50% 0 0;
   max-width: 100%;
   text-align: center;
}

.flower-two{
   background-color: #D9EFF1;
   width: 464px;
   height: 428px;
   margin-right: 20px;
   border-radius: 50% 50% 0 0;
   max-width: 100%;
   text-align: center;

}
.flower-three{
   background-color: #D9EFF1;
   width: 464px;
   height: 428px;
   border-radius: 50% 50% 0 0;
   max-width: 100%;
   text-align: center;
   margin-bottom: 128px;
}

.flower-parent{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

/* support section */

.support-parent{
   background-color: #F4F4F4;
   width: 1140px;
   height: 320px;
   display: flex;
   justify-content: space-between;
   text-align: center;
   align-items: center;
   margin-bottom: 128px;
}

.support-one{
   margin-left: 100px;
}

.support-two{
   margin-right: 100px;
}

.support-three{
   margin-right: 100px;
}

.support-parent img{
   margin-bottom: 20px;
}


/* signup sec */

.signup{
   width: ;
   background-color: #FCEEF1 ;
}

.signup-description{
      color: #585858;
      text-align: center;
      font-size: 18px;
}

.signup button{
   
   text-align: center;
}

.banner-img{
   width: 300px;
}

.about-cointainer{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.btn{
   margin-top: 32px;
   margin-left: 170px;
}