/* all section */

*{
   font-family: 'Lato' , sans-serif;
   font-family: 'Open Sans', sans-serif;
   margin: 0;
}

.btn-primary {
   background-color: #E55473;
   border-radius: 5px;
   border: 0;
   color: #fff;
   font-size: 18px;
   font-weight: 700;
   padding: 10px 30px;

}


/* nav style */
nav{
   background-color: #d6c4c4;
   border: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;

 }

 .nav-title{ 
   color: #E55473 ;
   font-size: 45px;
   font-weight: 800;
 }

 .nav > ul{
   display: flex;
   align-items: center;
 }
 nav li{
   list-style: none;
   margin-right: 50px;
 }

nav a{
   text-decoration: none;
   color: #272727;
}

/* Header */

.header{
   background-color: #e6d9dc;
}

.banner{
   /* margin: 30px 200px 3px 150px ; */
   padding: 30px 150px 3px 150px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.banner-content{
   max-width: 600px;
}
.banner .tulip{ 
   width: 635px;
   height: 800px;
}

.banner-title{
   color: #272727;
   font-size: 85px;
   font-weight: 700;
   margin-bottom: 32px;
}

.banner-description{
   margin-bottom: 32px;
   color: #585858;
}



/* main section */


